*{
    margin: 0;
    padding: 0;
}
html{
    font-family: "STHeitiSC LIGHT","Microsoft YaHei",Georgia,sans-serif,Serif;
    width: 100%;
    min-width: 320px;
    height: 100%;
}
body{
    height: 100%;
    overflow-x: hidden;
}
.span{
    display: inline-block;
}
.header{
    background-color: #5fc0cd;
    font-size: 30px;
    width: 100%;
    height: 10%;
    max-height: 70px;
    padding: 5px 0;
    text-align: center;
    color: white;
}
.nav{
    background-color: #55a8b3;
    height: 100%;
    width: 40%;
    float: left;
    margin: 0 30%;
    border-radius: 10px;
}
.nav1,.nav2{
    width: 50%;
    height: 35px;
    padding: 14px 0;
    float: left;
}
.nav2{
    background-color: white;
    border-radius: 10px;
    color: #5fc0cd;
}
.header img{
    display: inline-block;
    position: absolute;
    right: 30px;
    top:19px;
    /*margin: 19px 30px 19px 0;*/
}
.subnav{
    height: 70px;
    padding: 10px 0;
    border-bottom: 1px solid #e1e5e7;
}
.subnav select{
    display: inline-block;
    width: 32.5%;
    height: 70px;
    font-size: 30px;
    color: #a7a7a7;
    padding: 0 8.2%;
    border: 0;
    border-left: 1px solid #e1e5e7;
}
.content{
    height: 67%;
}
/*设置main高度，超过高度滚动并隐藏左右滚动条，上下滚动条采用margin-right为负数的方式隐藏可以实现鼠标滚动*/
.main{
    height: 80%;/*在<html><body>中都添加height:100%实现main高度的自动适应*/
    overflow:scroll;
    overflow-x: hidden;
    margin-right: -20px;
    border-bottom: 1px solid #e1e5e7;
}
ul{
    font-size: 30px;
    list-style: none;
    border-bottom: 1px solid #e1e5e7;
}
ul li{
    margin: 25px 0;
    zoom:1;/*ie6、ie7清理浮动*/
}
/*ie 8以上清理浮动*/
li:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}
ul img{
    display: block;
    float: left;
    margin: 0 15px 0 30px;
}
.left{
    float: left;
    margin-left: 65px;
}
.right{
    float: right;
    margin-right: 15px;
    color: red;
}
.more{
    float: right;
    margin:3px 25px 3px 15px;
}
.footer{
    position: fixed;
    bottom: 0;
    background-color: #f8fafb;
    width: 100%;
    height: 17%;
    max-height: 111px;
    padding: 10px 0;
}
.bar{
    width: 400px;
    margin: 0 auto;
    zoom:1;/*ie6、ie7清理浮动*/
    text-align: center;
}
/*ie 8以上清理浮动*/
.bar:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}
.bar_left,.bar_middle,.bar_right{
    float: left;
}
.bar_left{
    margin: 20px 100px 20px 0;
}
.bar_middle{
    margin: 3px 0;
}
.bar_right{
    margin: 20px 0 20px 100px;
}